<!DOCTYPE html>
<html>
	<head>
		<title>Kwikecart</title>
		<meta charset="utf-8" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
		<style>
body,html {
padding: 0;
margin: 0;
background-color: #ccc;
}
h2 {
font-size: 1.25em;
}
.container {
max-width: 50%;
background-color: #fff;
padding: 1em;
}
.row {
padding: .5em;
}
#cart-nav-wrapper {  
width: 100%;
background-color: #fff;
border-bottom: 1px solid #aaa;
}
#cart-nav {

}
.cart-item {
border: 1px solid red;
}
.product {
border: 1px solid #888;
padding: .25em;
}
.product .product-image {
	width: 125px;
	height: 150px;
	background-color: #333;
}
.product .btn-remove {
	font-size: .5em;
	background-color: #fff;
}
.media {
	margin: 0;
}
		</style>
	</head>
	<body>
		<div id="cart-nav-wrapper">
			<section id="cart-nav" class="container">
				<div id="cart" class="row">
					<div class="col-md-12 cart-products">
					</div>

					<div class="col-md-12 cart-total">
					</div>

					<form class="hidden" id="checkoutfrm" action="./checkout" method="post" name="cartcheck out">
						<input type="hidden" name="cmd" value="_cart" />
						<input type="hidden" name="redirect_cmd" value="_xclick" />
						<input type="hidden" name="business" value="info@example.com" />
						<input type="hidden" name="no_shipping" value="1"/>
						<input type="hidden" name="return" value="http://www.example.com" />
						<input type="hidden" name="cancel_return" value="http://www.example.com" />
						<input type="hidden" name="notify_url" value="http://www.example.com/ppcallback" />
						<input type="hidden" name="invoice" value="" />
						<input type="hidden" name="trackingid" value="" />
						<input type="hidden" name="currency_code" value="USD" />
						<input type="hidden" name="upload" value="1" />
						<input type="hidden" id="total" value="" name="total" />
						<button class="btn btn-primary" type="submit" name="checkout" id="submitbtn">Checkout</button>
					</form>
				</div>
			</section>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert">
						<% if (page.action) { %>
							<% if (page.action === 'add') { %>
								Item Added.
							<% } else if (page.action === 'remove') { %>
								Item Removed.
							<% } %>
						<% } %>
					</div>
				</div>
			</div>

			<section id="store-index">
				<div class="col-1 row">
					<div class="product col-md-5" id="3423">
						<div class="media">
							<div class="product-image media-left">
								<img src="" />
							</div>

							<div class="product-info media-body">
								<h2 class="product-name media-heading">
									<a href="#">Worlds Best Item</a>
								</h2>

								<div>
									<div class="product-pid">3423</div>
									<div class="product-price">$45.00</div>
								</div>

								<!-- Our Actions that Kwikicart.js will call on each related call -->
								<form class="pull-left" method="post" action="./add" name="itemadd">
									<input type="hidden" name="id" value="3423" />
									<input type="hidden" name="name" value="Worlds Best Item" />
									<input type="hidden" name="price" value="45.00" />
									<input autocomplete="off" type="hidden" name="quantity" value="0" />
									<button class="btn btn-primary" type="submit" name="productaction" value="add">Add to Cart</button>
								</form>
								<form method="post" action="./remove" name="itemremove">
									<input type="hidden" name="id" value="3423" />
									<button class="btn btn-remove" type="submit" name="productaction" value="remove">Remove from Cart</button>
								</form>
							</div>
						</div>
					</div>

					<div class="product col-md-5 col-md-offset-2" id="1423">
						<div class="media">
							<div class="product-image media-left">
								<img src="" />
							</div>

							<div class="product-info media-body">
								<h2 class="product-name media-heading">
									<a href="#">Worlds Second Best Item</a>
								</h2>

								<div class="product-info">
									<div class="product-pid">1423</div>
									<div class="product-price">$45.00</div>
								</div>

								<form class="pull-left" method="post" action="./add" name="itemadd">
									<input type="hidden" name="name" value="Worlds Second Best Item" />
									<input type="hidden" name="id" value="1423" />
									<input type="hidden" name="price" value="45.00" />
									<input autocomplete="off" type="hidden" name="quantity" value="0" />
									<button class="btn btn-primary" type="submit" name="productaction" value="add">Add to Cart</button>
								</form>
								<form method="post" action="./remove" name="itemremove">
									<input type="hidden" name="id" value="1423" />
									<button class="btn btn-remove" type="submit" name="productaction" value="remove">Remove from Cart</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- defining the expected cart actions -->
		<div class="hidden">
			<form method="get" action="./check" name="itemcheck"></form>
			<form method="get" action="./total" name="totalcart"><button type="submit">Total Cart</button></form>
			<form method="post" action="./clear" name="clearcart"><button type="submit">Clear Cart</button></form>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>
		<script src="js/example.js"></script>
	</body>
</html>
