<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Kwikicart</title>
	</head>
	<body>
		<div>
			<section id="products">		
				<header>
					<h1>Products</h1>		
				</header>	
				<ul>
					<li class="product" id="3423">
						<h2 class="product-name">
							<a href="#">Worlds Best Item</a>
						</h2>

						<div class="product-info">
							<div class="product-pid">3423</div>
							<div class="product-price">$45.00</div>
						</div>

						<!-- Our Actions that Kwikicart.js will call on each related call -->
						<form method="post" action="./add" name="itemadd">
							<input type="hidden" name="name" value="Worlds Best Item" />
							<input type="hidden" name="id" value="3423" />
							<input type="hidden" name="price" value="45.00" />
							<button type="submit" name="addtocart">Add to Cart</button>
						</form>
						<form method="post" action="./remove" name="itemremove">
							<input type="hidden" name="name" value="Worlds Best Item" />
							<input type="hidden" name="id" value="3423" />
							<input type="hidden" name="price" value="45.00" />
							<button type="submit" name="removecart">Remove</button>
						</form>
					</li>
					<li class="product" id="1423">
						<h2 class="product-name">
							<a href="#">Worlds Second Best Item</a>
						</h2>

						<div class="product-info">
							<div class="product-pid">1423</div>
							<div class="product-price">$45.00</div>
						</div>

						<!-- Our Actions that Kwikicart.js will call on each related call -->
						<form method="post" action="./add" name="itemadd">
							<input type="hidden" name="name" value="Worlds Second Best Item" />
							<input type="hidden" name="id" value="1423" />
							<input type="hidden" name="price" value="45.00" />
							<button type="submit" name="addtocart">Add to Cart</button>
						</form>
						<form method="post" action="./remove" name="itemremove">
							<input type="hidden" name="name" value="Worlds Best Item" />
							<input type="hidden" name="id" value="1423" />
							<input type="hidden" name="price" value="45.00" />
							<button type="submit" name="removecart">Remove</button>
						</form>
					</li>
				</ul>
			</section>
		</div>
		<aside id="sidebar">
			<h1>Cart</h1>
			<section id="cart">	
				<ul class="cart-products">
				</ul>

				<div class="cart-total">
				</div>

				<form id="checkoutfrm" action="./checkout" method="post" name="cartcheck out">	
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="redirect_cmd" value="_xclick" />
					<input type="hidden" name="business" value="info@example.com" />
					<input type="hidden" name="no_shipping" value="1"/>
					<input type="hidden" name="return" value="http://www.example.com" />
					<input type="hidden" name="cancel_return" value="http://www.example.com" />
					<input type="hidden" name="notify_url" value="http://www.example.com?paypalcallback" />
					<input type="hidden" name="invoice" value="" />
					<input type="hidden" name="trackingid" value="" />
					<input type="hidden" name="currency_code" value="USD" />
					<input type="hidden" name="upload" value="1" />	
					<input type="hidden" id="total" value="" name="total" />
					<button type="submit" name="checkout" id="submitbtn">Checkout</button>
				</form> 
			</section>
		</aside>

		<!-- defining the expected cart actions -->
		<form method="get" action="./check" name="itemcheck"></form>
		<form method="get" action="./total" name="totalcart"></form>
		<form method="get" action="./clear" name="clearcart"></form>

		<script src="https://ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js"></script>
		<script>
			// kwikicart.js
			require({
				baseUrl: '/js/'
			}, ['js/kwikicart', 'dojo/query', 'dojo/ready'], 
			function(store, query, ready) {
				'use strict';
				ready(function () {
					// Test Array	
					var products = [
						{ id: '3423', name: 'Product1', quantity: 1, price: 45.00},
						{ id: '1423', name: 'Product2', quantity: 1, price: 15.00}
					],
					// Setting up the store, and creating a cart for the user
					cart = store.create({
						expires: 1
					});
					
					cart.remove();

					// Adding techniques
		
					cart.add('#3423'); // Incrementing
					cart.add('#3423'); // Incrementing
					cart.add({
						id: '3423', 
						name: 'Product1', 
						quantity: 100, 
						price: 45.00
					});

					cart.add('#3423');

					// Removing, in .product expected form name: itemremove
					//cart.remove('product-3423'); // Fully removes product
					//cart.remove(products); // Fully removes product set
					//cart.remove(); // Fully removes all products
					//cart.remove(false); // Removes all but keeps cookie data
					// Decrement, in .product expected form name: itemadd
					//cart.remove('product-3423', 1); 

					// Data Checking, in .product expected form name: itemcheck
					//cart.check('product-3423'); // Get item data from server
					//cart.check('product-3423', false); // Get item data from markup
					
					// Totaling, expected form name: totalcart
					//cart.total(); // From DOM data
					//cart.total(true); // From server

					// Checkout, expected form name: checkout
					//cart.checkout() // Routing to next area
				});
			});
		</script>
	</body>
</html>